@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    
    <h2>Search available Cars</h2>

    
    <nav>
        <ul>
            <li><a href="AllCars.cshtml">All Cars</a></li>
            <li><a href="CarsBrands.cshtml">Cars Brands</a></li>
            <li><a href="Privacy.cshtml">Privacy</a></li>

        </ul>
    </nav>
</div>
